@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display");

body{
    background-image: radial-gradient(circle, #FFDAB9, #C8A2C8);
    font-family: 'Work Sans', sans-serif;
}
#login{
    color: #444; 
    font-family: 'Work sans';
    background-color: #FFDAB9;
    text-align: center;
    border-radius: 50%;
    padding: 0px 3px;
    font-size: 3.2vw;
    border-radius: 50px;
    width: 40%;
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 30%;
}
#signup{
    color: #444; 
    font-family: 'Work sans';
    background-color: #C8A2C8;
    text-align: center;
    border-radius: 50%;
    padding: 0px 10px;
    font-size: 3.2vw;
    border-radius: 50px;
    width: 40%;
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 30%;
}
#logout{
    color: #444; 
    font-family: 'Work sans';
    background-color: #C8A2C8;
    text-align: center;
    border-radius: 50%;
    padding: 0px 10px;
    font-size: 3.2vw;
    border-radius: 50px;
    width: 40%;
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 30%;
}
