<!DOCTYPE html>
{% load static %}
{% include "base.html" %} 
        
    <body>
        <h3 style="text-align: center; padding-top: 1cm; color: #444; font-family: 'Work sans', sans-serif">★,｡･:*:･ﾟ’☆ welcome ☆’:｡･:*:･ﾟ’★ </h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container"> 
        <div id= "login">
            {% if user.is_authenticated %}
            hello, {{ user }}</div>
        <div id= "logout">
            <a href= "/logout" style="color: #444;">logout</a>
        </div>
          {% else %}
            <a href= "/login" style="color: #444;">login</a>
         
        </div>
        <div id= "signup">
            <a href= "/signup" style="color: #444;">sign up</a>
            {% endif %}
        </div>
        </div>
    </body>

